META-INF/
bin/
conf/
data/
edu/
org/
service/
*.jar
*.properties
*.xml
*.zip
DependencyParserDemo.java
LICENSE.txt
Makefile
ParserDemo.java
ParserDemo2.java
README.txt
README_dependencies.txt
ShiftReduceDemo.java
StanfordDependenciesManual.pdf
lexparser*
*.out
